@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     font-family: "Poppins", sans-serif;
}
.container{
     padding: 5rem 0;
     /* border: 2px solid #0d99ff; */
     display: flex;
     justify-content: center;
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;
}
.achieve{
     width: 49%;
}
.signup{
     width: 49%;
     position: relative;
}
.hashed-logo{
     padding-left: 3.5rem;
     padding-bottom: 3rem;
}
.vector{
position: absolute;
top: 1px;
left: 0px;
transform: translate();
}
.input-form{
     padding: 1rem 1.5rem;
     margin-bottom: 0.8rem;
     border: 2px solid lightgray;
     border-radius: 5px;
     display: block;
     outline: none;
     height: 35px;
     width: 30rem;
}
.box-3{
     border: 2px solid lightgray;
     border-radius: 5px;
     display: flex;
     height: 35px;
     width: 30rem;
}
a{
     text-decoration: none;
    font-weight: 500;
}
.input-b{
     margin-bottom: 1.5rem;
     display: block;
     outline: none;
     border: 2px solid #0d99ff;
     background-color: #0d99ff;
     border-radius: 5px;
     height: 35px;
     width: 30rem;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: start;
}
hr{
     width:160px ;
     margin: 0 1rem;
}
.icon-f{
    border: 2px solid #e3e6e8;
    text-align: center;
    display: inline;
    margin: 1rem 1rem;
    padding: 0.5rem 3.5rem;
    border-radius: 4px;
}
.icon-g{
     border: 2px solid #e3e6e8;
     text-align: center;
     border-radius: 4px;
     display: inline;
     padding: 0.5rem 4rem;    
}
/* #################### utility classes#################### */
.font-size{
     font-size: 0.6rem;
     font-weight: 500;
}
.white-color{
     color: #fcfcfc;
}
.blue-color{
     color: #0d99ff;
}
.light-color{
     color: #c0bec6;
}
.dark-bluecolor{
     color: #1e4470;
}
.black-color{
     color: black;
}
.margin-bottom{
     margin-bottom: 1rem;
}
.height{
     height: 570px;
}
.padding-right{
     padding-right: 1rem;
}
.padding{
padding-bottom: 1rem;
}
.inline{
     display: inline;
}
.block{
     display: block;
}
.fa-google {
     background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     -webkit-text-fill-color: transparent;
 }
i{
 font-size: 20px;    
 padding-right: 10px;
 cursor: pointer;
}
.outline{
     margin-right: 14rem;
     border: 1px solid white;
     outline: none;   
     padding: 0.4rem 1.5rem;
}
.icon-form {
   font-size: 17px;
   padding-top: 5px;
}